@{
    ViewBag.Title = "HTTP Version Not Supported";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-center align-items-center vh-100 text-center">
    <div>    
         <h2>505 - HTTP Version Not Supported</h2>
         <p>The requested HTTP version is not supported by the server. Please check the route and try again.</p>
     </div>
</div>
